# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Chroma / Vector DB
# ==============================
chroma/
*.sqlite3

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Testing Cache
# ==============================
.pytest_cache/

# ==============================
# Coverage Reports
# ==============================
.coverage
htmlcov/
